* {
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 3fr 1fr 6fr 4fr 1fr;
    grid-template-columns: auto;
}

.nav-bar {
    width: 100vw;
    max-height: 66px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #ff7f00;
}

.logo {
    width: 133px;
    height: 22px;
    padding: 10px;
    grid-row: 2/2;
}

ul {
    margin-left: 100px;
}

.main-menu a {
    text-transform: uppercase;
}

li {
    padding: 15px;
}

a {
    margin-right: 15px;
    text-decoration: none;
}

li>:last-child {
    /* border-style: groove; */
    margin-right: 30px;
    /* text-decoration: none;     */
}

.main-menu {
    margin-left: 100px;
    grid-row: 2/2;
    grid-column: -1/-1;
    padding: 10px;
}

.gallery-grid {
    grid-row: 3/4;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: auto; */
    background-color: #e3e3e3;
}

.img-gallery {
    grid-row: auto;
    grid-column: auto;
    max-width: 353px;
    max-height: 278px;
    /* margin-block-end: 20px; */
    margin: 20px;
    transition: transform .2s;
    /* Animation */
}

.contact {
    grid-row: 4/5;
}

.footer {
    grid-row: 5/6;
    background-color: #ff7f00;
    font-family: 'Courier New', Courier, monospace;
}

.img-gallery:hover {
    transform: scale(1.2);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}